<div>    
    <div id="title"><h1>Analizador de PL0 Ampliado</h1></div>
      <div class="row">
        <div class="col-md-4" id="div-input">
          <p id="title-input">Código</p></br>
          <textarea class="drop_zone" autofocus="" cols="80" rows="5" id="original"></textarea>
          <button type="button" id="parse">Parsear</button>
          <div class="importar">Importar<div id="b-importar"><input type="file" class="inputfile"></input></div></div>
        </div>
        <div class="col-md-4" id="div-output">
          <p id="title-output">Árbol</p></br>
          <div class="output">
            <pre>
              <span id="tree"></span> <!-- Output goes here! --> 
           </pre>
          </div>
        </div>
      </div>
</div>
