    <div class="title"><h1>Analizador de PL0 Ampliado</h1></div>
    <div class="content">
      <div class="div-input">
        <div class="title-input">Código</div>
        <textarea class="drop_zone" id="original"></textarea>
        <div class="button-panel">
          <div class="parsear"><button type="button" id="parse">Parsear</button></div>
          <div class="importar">Importar<div id="file-import"><input type="file" class="inputfile"></input></div></div>
        </div>
      </div>
      <div class="div-output">
        <div class="title-output-ast" onclick="show_ast()">Árbol Sintáctico</div>
        <div class="title-output-tsym" onclick="show_semantic()">Tabla de Símbolos</div>
        <div id="output" style="visibility:visible">
          <pre>
            <span id="tree"></span> <!-- Output goes here! --> 
          </pre>
        </div>
        <div id="output2" style="visibility:hidden">
          <pre>
            <span id="symboltable"></span> <!-- Output goes here! --> 
          </pre>
        </div>
      </div>
    </div>

