<!DOCTYPE html>
<html>
  <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>Analizador PL0</title>
     <link href="css/style.css" rel="stylesheet" type="text/css">
     <link rel="icon" type="image/png" href="images/favicon.png">
     <script type="text/javascript" src="jquery.js"></script> <!-- jQuery -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
     <script type="text/javascript" src="front.js"></script>
     <script type="text/javascript" src="show-divs.js"></script>
  </head>
    <%- body %>
  </body>
  <footer>
      <div class="container">
        <div class="row">
          <a href="http://marreA.github.io" target="_blank"><img src="images/footer-alex.png" id="foot-alex" title="P치gina Personal de marreA"></a>
          <a href="http://alu0100825985.github.io./" target="_blank"><img src="images/footer-eduardo.png" id="foot-edu" title="P치gina Personal de alu0100825985"></a>
          <a href="http://alu0100812534.github.io./" target="_blank"><img src="images/footer-daniel.png" id="foot-dani" title="P치gina Personal de alu0100812534"></a>
          <a href="https://github.com/marreA/proyecto-ga" target="_blank"><img src="images/footer-github.png" id="foot-gh" title="Repositorio de la Pr치ctica"></a>
          <a href="https://campusvirtual.ull.es/1516/course/view.php?id=178" target="_blank"><img src="images/footer-campus.png" id="foot-cpl" title="Campus Virtual de la Asignatura"></a>
        </div>
      </div>
  </footer>
</html>
