@import 'reset';
@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  font: 100% Helvetica, sans-serif;
  background-color: #6ADDFF;
}


.colorPrimario {
	color: #6ADDFF;
}

.colorAcentuado {
	color: #00C5FF;
}

.colorOscuro {
	color: #00627F;
}

.marginTop {
	margin-top: 50px;
}

.pacifico {
	font-family: 'Pacifico', cursive;
}

h1            {
	text-align: center;
	font-size: 50px;
	margin-top: inherit;
	font-family: 'Pacifico';
	color: #00627F;
	padding: 50px;
	margin-top: 50px;
 }

.titulo_practica {
	img {
		width: 50px;
		height: 50px;
		float: right;
	}
}

.contenido {
	position: relative;
	left: 35%;
	text-align: center;
}
table {
	.center {
		font-weight: bold;;
		color: black;
		text-align: center;
		margin-left: 90px;
		margin-top: 10px;
		border: ridge;
		border-color: blue;
		background-color: white;
		}
		tr{
			text-align: center;
		}
		th {
			text-align: center;
			font-family: 'Pacifico';
			font-size: 18px;
			color: #00627F;
		}
}

.output {
	tr:nth-child(odd)    { background-color:#eee; }
	tr:nth-child(even)   { background-color:#00FF66; }
}

.error td{ background-color: red; }
